@font-face {
    font-family: 'iconfont';
    src: url('../icon/iconfont.eot');
    src: url('../icon/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../icon/iconfont.woff') format('woff'),
    url('../icon/iconfont.ttf') format('truetype'),
    url('../icon/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
*{
    margin: 0;
    padding: 0;}
body{
    padding: 0;
    margin: 0;
    font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    color:#333;}
a{text-decoration: none;
}
.clearfix:before,.clearfix:after {
    content: "";
    display: block;
    clear: both;}
.clearfix {
    zoom: 1;}
.topbar{
    background-color: #333;
    height: 40px;
    /*position: fixed;*/
}
.container{
    margin: 0 auto;
    width: 1226px;}
.container::before,.container::after{
    content: '';
    display: table;
}
.container::after{
    clear: both;
}
.topbar a{
    color: #b0b0b0;
    font-size: 12px;}
.topbar a:hover{
    color:#fff;}
.topbar .container .topbar-nav{
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 0;
}
.topbar .container .topbar-nav .sep{
    color: #424242;
    font-size: 12px;
    font-family:sans-serif;
    margin: 0.5em;
    }

.topbar .container .topbar-cart,.topbar-info{
    float: right;
}
.topbar-cart a{
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 120px;
    background-color: #424242;
}
.topbar-cart a:hover{
    background-color: #fff;
    color: #ff6700;
}
.topbar .container .topbar-cart span{
    margin-left: -4px;
    font-size: 12px;
}
.topbar .container .topbar-cart a i{
    font-size: 20px;
    line-height: 20px;
    vertical-align: -4px;
    margin-right: 4px;
}
.topbar .container .topbar-info{
    margin-right: 15px;}
.topbar .container .topbar-info a{
    float: left;
    padding: 0 5px;
    line-height: 40px;
    height: 40px;
}
.topbar .container .topbar-info span{
    float: left;
    font-family:sans-serif;
    font-size: 12px;
    color: #424242;
    line-height:40px;
    height: 40px;
}
.topbar .container .topbar-info a:last-child{
    padding: 0 10px;}
.site-header{
    height: 100px;}
.site-header .header-logo{
    float: left;
    width: 62px;
    margin-top: 22px;
    position: relative;
    display: block;
    height: 55px;
    overflow: hidden;
}
.site-header .header-logo a{
    display: block;
    width: 55px;
    height: 55px;
    background: #ff6700 url(../img/mi-logo.png) 50% 50% no-repeat;
    text-indent: -20em;
}
.site-header .header-nav{
    float: left;
    width: 820px;
	height:100px;
}
.site-header .header-nav ul li{
    float: left;
    list-style: none;
}
.site-header .header-nav ul li:first-child{padding-right:15px;}
.site-header .header-nav ul li a{
	font-size:16px;
    display: block;
	color:#333;
    padding: 26px 10px 38px;
}
.site-header .header-nav ul .nav-item a:hover{color:#ff6700;}
.site-header .header-search{
    float: right;
    width: 296px;
    height: 50px;
	margin-top:25px;
}
.site-header .header-search .search-form{
    display: block;
    width: 296px;
    height: 50px;
    position: relative;
}
.site-header .header-search input{float:left;}
.hide{display: none;}
.search-text{
	display:block;
	height:50px;
	width:245px;
    line-height: 50;
    border: 1px solid #e0e0e0;
    outline: 0;
	padding:0 10px;}
.search-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
	height:50px;
	width:52px;
    border: 1px solid #e0e0e0;
    font-size: 24px;
    line-height: 24px;
    background: #fff;
    color: #616161;
    outline: 0;
    padding:1px 6px;}
.search-btn:hover{
    background-color: #ff6700;
    color: #fff;
}
.seckill {
    background-color: #f5f5f5;}
.seckill-head{
    margin-top:19px;
    height:170px;
	background: url(../img/seckill-head.jpg) 50% 0 no-repeat;
}
.seckill-head h1{
    font-size: 2em;
    margin: 0.67em 0;
    display:none;
}
.seckill .seckill-banner{
    width: 1226px;
    margin: -82px 0 22px;
}
.seckill .seckillFixed{
    position: fixed;
    top: 68px;
}
.seckill .seckill-banner ul{
    background: #414141;
    height: 68px;
}
.seckill .seckill-banner ul li{
    display: block;
    list-style: none;
    float: left;
    width: 20%;
    cursor: pointer;
    line-height: 68px;
    height: 68px;
    text-align: center;
    color: #fff;
}
.seckill .seckill-banner ul li em{
    display: inline-block;
    font-style: normal;
    font-size: 18px;
    line-height: 1;
    vertical-align: middle;
    margin-left: 30px;
}
.seckill .seckill-banner ul li span{
    display: inline-block;
    text-align: left;
    line-height: 1;
    font-size: 14px;
    vertical-align: middle;
    margin-left: 15px;
}
.seckill .seckill-banner ul li span em{
    display: inline-block;
    font-size: 18px;
    margin-left: 0;
    line-height: 20px;
}
.seckill .seckill-banner ul .active{
    background-color: #f1393a;}
.seckill .seckill-banner ul li:first-child span em{
	font-size: 14px;	
}
.seckill-con ul::after{
    content: ".";
    clear: both;
    display: block;}
.seckill-con li{
    float: left;
    width: 400px;
    height: 190px;
    background-color: #fff;
    margin: 0 13px 13px 0;
	transition: all .2s linear;
}
.seckill-con li:hover{
	box-shadow: 8px 15px 6px 5px #eee;
	margin-top:-3px;
	margin-bottom:16px;
	
}
.seckill .notic{
	font-size:12px;
	color:#999;
	margin-top:56px;
	padding-bottom:35px;
}
.seckill-con .active{display: block;}
.seckill-con  ul{
    display: none;
    list-style: none;
    margin-right:-13px;}
.seckill-con  ul .bg{float:left;}
.seckill-con  ul .bg img{
	width:190px;
}
.seckill-con  ul .info{
	margin-left:210px;
	width:190px;
	height:190px;
	padding-top:30px;
}
.seckill-con  ul .info a .btn-primary{
	display:block;
	width:118px;
	heigth:28px;
	line-height: 28px;
	border:#f1393a 1px solid;
	background-color:#f1393a;
	text-align:center;
	margin-top: 19px;
    font-size: 14px;
	color: #fff;
}

.seckill-con  ul .info .name{
	font-size: 16px;
    color: #333;
    height: 16px;
    overflow: hidden;
    _zoom: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    line-height: 16px;
}
.seckill-con  ul .info .desc{
    color: rgba(0,0,0,0.54);
    margin-top: 7px;
    font-size: 12px;
    line-height: 16px;
    height: 32px;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;}
.seckill-con  ul .info .price{
	display:block;
	font-size: 16px;
    color: #f1393a;
    line-height: 1;
	margin-top:14px;
    margin-bottom: 0;}
.seckill-con  ul .info .price del{
	color:#999;
	font-size:12px;
	line-height: 1;
	margin-left:10px;
}

.site-footer .footer-service{
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;}
.site-footer .footer-service ul{
    list-style: none;
}
.site-footer .footer-service ul li{
    float: left;
    width: 19.8%;
    font-size: 16px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-left: 1px solid #e0e0e0;
}
.site-footer .footer-service ul li:first-child{
    border-left: 0;}
.site-footer .footer-service ul li a{
    color: #616161;
    transition: color .2s;
}
.site-footer .footer-service ul li a:hover{color:#ff6700;}
.site-footer .footer-service ul li a .iconfont{
    margin-right: 6px;
    font-size: 24px;
    line-height: 24px;
    vertical-align: -4px;}
.site-footer .footer-links{
    padding: 40px 0;
}
.site-footer .footer-links dl{
    float: left;
    width: 160px;
    height: 112px;
}
.site-footer .footer-links dl dt{margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;}
.site-footer .footer-links dl dd{
    margin: 10px 0 0;
    font-size: 12px;}
.site-footer .footer-links dl dd a{
    color: #757575;}
.site-footer .footer-links .col-contact{float: right;
    width: 251px;
    height: 112px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;}
.site-footer .footer-links .col-contact .phone{
    margin: 0 0 5px;
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
}
.site-footer .footer-links .col-contact p{
    margin: 0 0 16px;
    font-size: 12px;
}
.site-footer .footer-links .col-contact a{
    background: #fff;
    color: #ff6700;
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: 1px solid #ff6700;
    text-align: center;
    cursor: pointer;
    transition: all .4s;
}
.site-footer .footer-links .col-contact a:hover{
    color: #fff;
    background-color: #ff6700;
}


.site-info .slogan{clear: both;
    margin: 30px auto 0;
    height: 25px;
    font-size: 20px;
    text-align: center;
    /*background: url(../i/slogan2016.png) no-repeat center 0;*/}